src/resources/odd/edep-edition.odd

<?xml-model href="teipublisher_odds.xsd"?><?teipublisher output="web print"?>
<TEI xmlns="http://www.tei-c.org/ns/1.0" xmlns:pb="http://teipublisher.com/1.0" xml:lang="en">
    <teiHeader>
        <fileDesc>
            <titleStmt>
                <title>EDEp - edition</title>
            </titleStmt>
            <publicationStmt>
                <publisher>eXistSolutions GmbH</publisher>
                <availability>
                    <licence target="https://www.gnu.org/licenses/gpl-3.0.en.html">Distributed under GNU General Public License</licence>
                    <p>Copyright 2017
                        <ref target="http://existsolutions.com">eXistSolutions GmbH</ref>
                    </p>
                    <p>This program is free software: you can redistribute it and/or modify
                        it under the terms of the GNU General Public License as published by
                        the Free Software Foundation, either version 3 of the License, or
                        (at your option) any later version.</p>
                    <p>This program is distributed in the hope that it will be useful,
                        but WITHOUT ANY WARRANTY; without even the implied warranty of
                        MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
                        GNU General Public License for more details.</p>
                </availability>
            </publicationStmt>
            <sourceDesc>
                <p>Generated by
                    <ref target="http://tei-publisher.com">TEI Publisher</ref>
                </p>
                <p>born digital</p>
            </sourceDesc>
        </fileDesc>
        <encodingDesc>
            <tagsDecl>
                <rendition source="edep.css"/>
            </tagsDecl>
        </encodingDesc>
        <revisionDesc>
            <change when="2022-08-14Z">Initial version</change>
        </revisionDesc>
    </teiHeader>
    <text>
        <body>
            <schemaSpec start="TEI teiCorpus" ident="edep" source="edep.odd">
            <elementSpec ident="teiHeader" mode="change">
                    <model output="latex" behaviour="metadata"/>
                    <model output="fo" behaviour="omit"/>
                    <model output="web" behaviour="block">
            <param name="objectType" value="let $vocab := doc('/db/apps/edep-data/objtyp.xml') let $uris := tokenize(descendant::objectType/@ref, '\s+') for $uri in $uris return $vocab//term[@ref = $uri]"/>
            <param name="material" value="let $vocab := doc('/db/apps/edep-data/material.xml') let $uris := tokenize(descendant::material/@ref, '\s+') for $uri in $uris return $vocab//term[@ref = $uri]"/>
            <param name="description" value="descendant::support/note"/>
            <param name="dimensions" value="string-join(descendant::msPart[@type eq 'main']/descendant::supportDesc/descendant::dimensions/*, ' × ')"/>
            <param name="condition" value="descendant::msPart[@type eq 'main']/descendant::condition"/>
            <param name="decoration" value="let $vocab := doc('/db/apps/edep-data/decor.xml') let $uris := tokenize(descendant::msPart[@type eq 'main']/descendant::supportDesc/descendant::rs[@type eq 'decoration']/@ref, '\s+') for $uri in $uris return $vocab//item[@value = $uri]/@name"/>
            <param name="findContext" value="descendant::msPart[@type eq 'main']/descendant::provenance[@type eq 'found']/note"/>
            <param name="findDate" value="let $element := descendant::msPart[@type eq 'main']/descendant::provenance[@type eq 'found'] let $range := $element/@notBefore || ' – ' || $element/@notAfter let $exact := $element/@when let $string := $element/@when-custom return if ($exact and $string) then $exact || ' (' || $string || ')' else if ($range and string) then $range || ' (' || $string || ')' else if ($exact or $range) then ($exact, $range) else $string"/>
            <param name="modernLocation" value="descendant::msPart[@type eq 'main']/msIdentifier/repository"/>
            <param name="tmID" value="descendant::msPart[@type eq 'main']/descendant::idno[@type eq 'TM']"/>
            <param name="palaeography" value="let $vocab := doc('/db/apps/edep-data/writing.xml') let $uris := tokenize(descendant::msPart[@type eq 'main']/descendant::rs[@type eq 'palaeography']/@ref, '\s+') for $uri in $uris return $vocab//item[@value = $uri]/@name"/>
            <param name="letterSize" value="string-join(descendant::msPart[@type eq 'main']/descendant::handDesc/descendant::dimensions[@type eq 'letterHeight']/*, ' × ')"/>
            <param name="fieldDesc" value="descendant::msPart[@type eq 'main']/descendant::layout/ab"/>
            <param name="provenanceContext" value="descendant::msPart[@type eq 'main']/descendant::provenance[@type eq 'found']/note[@type eq 'context']"/>
            <param name="inscriptionType" value="let $vocab := doc('/db/apps/edep-data/typeins.xml') let $uris := tokenize(descendant::msPart[@type eq 'main']/msContents/@class, '\s+') for $uri in $uris return $vocab//term[@ref = $uri]"/>
            <param name="metre" value="descendant::msPart[@type eq 'main']/descendant::rs[@type eq 'metric']"/>
            <param name="language" value="let $element := descendant::msPart[@type eq 'main']/descendant::textLang return string-join(($element/@mainLang, tokenize($element/otherLangs, '\s+')), ', ')"/>
            <param name="date" value="let $element := descendant::origDate let $range := $element/@notBefore-custom || ' – ' || $element/@notAfter-custom let $exact := $element/@when-custom let $string := $element/string() return if ($exact) then $string || ' (' || $exact || ')' else if ($range) then $string || ' (' || $range || ')' else $string"/>
            <param name="religion" value="let $attVal := descendant::keywords[@scheme eq 'https://edh.ub.uni-heidelberg.de/edep/religion']/term/@ref return 'religion.' || substring($attVal, 2)"/>
            <param name="historicRelevance" value="descendant::keywords[@scheme eq 'https://edh.ub.uni-heidelberg.de/edep/terms']/term/@ref"/>
            <param name="ligature" value="descendant::msPart[@type eq 'main']/descendant::handDesc/descendant::rs[@type eq 'ligature']"/>
            <param name="fieldDimensions" value="string-join(descendant::msPart[@type eq 'main']/descendant::layout/descendant::dimensions/*, ' × ')"/>
            <pb:template xmlns="" xml:space="preserve">        <div id="metadata">
            <section>
                <h2><pb-i18n key="form.object-description"/></h2>
                <table>
                    <tbody>
                        <tr>
                            <th><pb-i18n key="form.type-of-monument"/></th>
                            <td>[[objectType]]</td>
                        </tr>
                        <tr>
                            <th><pb-i18n key="form.material"/></th>
                            <td>[[material]]</td>
                        </tr>
                        <tr>
                            <th><pb-i18n key="form.description-of-monument"/></th>
                            <td>[[description]]</td>
                        </tr>
                        <tr>
                            <th>Dimensions</th>
                            <td>[[dimensions]]</td>
                        </tr>
                        <tr>
                            <th><pb-i18n key="form.preservation"/></th>
                            <td>[[condition]]</td>
                        </tr>
                        <tr>
                            <th><pb-i18n key="form.decoration"/></th>
                            <td>[[decoration]]</td>
                        </tr>
                      <tr>
                            <th><pb-i18n key="form.findspot"/></th>
                            <td/>
                        </tr>
                        <tr>
                            <th>Find context</th>
                            <td>[[findContext]]</td>
                        </tr>
                        <tr>
                            <th><pb-i18n key="form.year-of-find"/></th>
                            <td>[[findDate]]</td>
                        </tr>
                        <tr>
                            <th><pb-i18n key="form.last-recorded-location"/></th>
                            <td>[[modernLocation]]</td>
                        </tr>
                        <tr>
                            <th>TM ID</th>
                            <td>[[tmID]]</td>
                        </tr>
                    </tbody>
                </table>                
            </section>
            <section>
                <h2><pb-i18n key="form.inscription-field"/></h2>
                <table>
                    <tbody>
                       <tr>
                            <th>Dimensions</th>
                            <td>[[fieldDimensions]]</td>
                        </tr>
                         <tr>
                            <th><pb-i18n key="form.letter-size"/></th>
                            <td>[[letterSize]]</td>
                        </tr>
                        <tr>
                            <th><pb-i18n key="form.palaeography"/></th>
                            <td>[[palaeography]]</td>
                        </tr>                       
                        <tr>
                            <th><pb-i18n key="form.ligature"/></th>
                            <td>[[ligature]]</td>
                        </tr>                      
                        <tr>
                            <th><pb-i18n key="form.description"/></th>
                            <td>[[fieldDesc]]</td>
                        </tr>
                    </tbody>
                </table>                
            </section>         
            <section>
                <h2><pb-i18n key="form.text-description"/></h2>
                <table>
                    <tbody>
                        <tr>
                            <th><pb-i18n key="form.site-modern-country"/></th>
                            <td/>
                        </tr>
                        <tr>
                            <th><pb-i18n key="form.site-ancient-province"/></th>
                            <td/>
                        </tr>
                        <tr>
                            <th><pb-i18n key="form.context-of-provenance"/></th>
                            <td>[[provenanceContext]]</td>
                        </tr>
                        <tr>
                            <th><pb-i18n key="form.type-of-inscription"/></th>
                            <td>[[inscriptionType]]</td>
                        </tr>
                        <tr>
                            <th><pb-i18n key="form.metre"/></th>
                            <td>[[metre]]</td>
                        </tr>
                        <tr>
                            <th><pb-i18n key="form.language"/></th>
                            <td>[[language]]</td>
                        </tr>
                        <tr>
                            <th><pb-i18n key="form.dating"/></th>
                            <td>[[date]]</td>
                        </tr>
                 <!--   <tr>
                            <th>Dating source</th>
                            <td></td>
                        </tr> -->
                        <tr>
                            <th><pb-i18n key="form.religion"/></th>
                            <td><pb-i18n key="[[religion]]"/></td>
                        </tr>
                        <tr>
                            <th><pb-i18n key="form.historic-relevance"/></th>
                            <td>[[historicRelevance]]</td>
                        </tr>
                    </tbody>
                </table>               
            </section>
        </div></pb:template>
        </model>
                    <model output="web" behaviour="metadata"/>
                </elementSpec>
            </schemaSpec>
        </body>
    </text>
</TEI>