src/resources/odd/edep-edition.odd

<?xml-model href="teipublisher_odds.xsd"?><?teipublisher output="web print"?>
<TEI xmlns="http://www.tei-c.org/ns/1.0" xmlns:pb="http://teipublisher.com/1.0" xml:lang="en">
    <teiHeader>
        <fileDesc>
            <titleStmt>
                <title>EDEp - edition</title>
            </titleStmt>
            <publicationStmt>
                <publisher>eXistSolutions GmbH</publisher>
                <availability>
                    <licence target="https://www.gnu.org/licenses/gpl-3.0.en.html">Distributed under GNU General Public License</licence>
                    <p>Copyright 2017
                        <ref target="http://existsolutions.com">eXistSolutions GmbH</ref>
                    </p>
                    <p>This program is free software: you can redistribute it and/or modify
                        it under the terms of the GNU General Public License as published by
                        the Free Software Foundation, either version 3 of the License, or
                        (at your option) any later version.</p>
                    <p>This program is distributed in the hope that it will be useful,
                        but WITHOUT ANY WARRANTY; without even the implied warranty of
                        MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
                        GNU General Public License for more details.</p>
                </availability>
            </publicationStmt>
            <sourceDesc>
                <p>Generated by
                    <ref target="http://tei-publisher.com">TEI Publisher</ref>
                </p>
                <p>born digital</p>
            </sourceDesc>
        </fileDesc>
        <encodingDesc>
            <tagsDecl>
                <rendition source="edep.css"/>
            </tagsDecl>
        </encodingDesc>
        <revisionDesc>
            <change when="2023-09-13Z">Initial version</change>
        </revisionDesc>
    </teiHeader>
    <text>
        <body>
            <schemaSpec start="TEI teiCorpus" ident="edep-edition" source="edep.odd">
                            <elementSpec ident="teiHeader" mode="change">
                                <model output="latex" behaviour="metadata"/>
                                <model output="fo" behaviour="omit"/>
                                <model output="web" predicate="$parameters?header='short'" behaviour="block"/>
                                <model output="web" behaviour="metadata"/>
                                <model behaviour="block">
                                    <desc>Create metadata sections</desc>
                                    <param name="objectType" value="let $vocab := doc('/db/apps/edep-data/objtyp.xml') let $uris := tokenize(descendant::objectType/@ref, '\s+') for $uri in $uris return if ($uri) then  &lt;row type=&#34;metadata&#34;&gt; &lt;cell&gt;form.type-of-monument&lt;/cell&gt; &lt;cell&gt;{$vocab//*[local-name() eq 'term'][@ref = $uri]/*[local-name() eq 'name']}&lt;/cell&gt; &lt;/row&gt;  else ()"/>
                                    <param name="material" value="let $vocab := doc('/db/apps/edep-data/material.xml') let $uris := tokenize(descendant::material/@ref, '\s+') for $uri in $uris return $vocab//*[local-name() eq 'term'][@ref = $uri]/*[local-name() eq 'name']"/>
                                    <param name="description" value="let $desc := descendant::support/note/string() return if($desc) then &lt;row type=&#34;metadata&#34;&gt; &lt;cell&gt;form.description-of-monument&lt;/cell&gt; &lt;cell&gt;{$desc}&lt;/cell&gt; &lt;/row&gt; else ()"/>
                                    <param name="dimensions" value="let $dimensions:= string-join(descendant::msPart[@type eq 'main']/descendant::supportDesc/descendant::dimensions/*, ' × ') return if (string-length($dimensions) gt 3) then &lt;row type=&#34;metadata&#34;&gt; &lt;cell&gt;metadata.dimensions&lt;/cell&gt; &lt;cell&gt;{$dimensions}&lt;/cell&gt; &lt;/row&gt; else ()"/>
                                    <param name="condition" value="let $condition := descendant::msPart[@type eq 'main']/descendant::condition return 'preservation.' || $condition"/>
                                    <param name="decoration" value="let $vocab := doc('/db/apps/edep-data/decor.xml') let $uris := tokenize(descendant::msPart[@type eq 'main']/descendant::supportDesc/descendant::rs[@type eq 'decoration']/@ref, '\s+') for $uri in $uris return $vocab//*[local-name() eq 'item'][@value = $uri]/@name"/>
                                    <param name="findContext" value="let $note := descendant::msPart[@type eq 'main']/descendant::provenance[@type eq 'found']/note/string() return if ($note) then &lt;row type=&#34;metadata&#34;&gt;&lt;cell&gt;form.context-of-provenance&lt;/cell&gt;&lt;cell&gt;{$note}&lt;/cell&gt;&lt;/row&gt; else ()"/>
                                    <param name="findDate" value="let $element := descendant::msPart[@type eq 'main']/descendant::provenance[@type eq 'found'] let $range := $element/@notBefore || ' – ' || $element/@notAfter let $exact := $element/@when let $string := $element/@when-custom return if ($exact and $string) then $exact || ' (' || $string || ')' else if ((string-length($range) gt 1) and $string) then $range || ' (' || $string || ')' else if ($exact) then ($exact) else if (string-length($range) gt 1) then $range else $string"/>
                                    <param name="modernLocation" value="descendant::msPart[@type eq 'main']/msIdentifier/repository"/>
                                    <param name="tmID" value="descendant::msPart[@type eq 'main']/descendant::idno[@type eq 'TM']"/>
                                    <param name="palaeography" value="let $vocab := doc('/db/apps/edep/templates/fore/data/palaeographie.xml') let $uris := tokenize(descendant::msPart[@type eq 'main']/descendant::rs[@type eq 'palaeography']/@ref, '\s+') for $uri in $uris return $vocab//*[local-name() eq 'item'][@ref = $uri]/*[local-name() eq 'name']"/>
                                    <param name="letterSize" value="string-join(descendant::msPart[@type eq 'main']/descendant::handDesc/descendant::dimensions[@type eq 'letterHeight']/*, ' × ')"/>
                                    <param name="fieldDesc" value="descendant::msPart[@type eq 'main']/descendant::layout/ab"/>
                                    <param name="provenanceHistory" value="let $history := descendant::msPart[@type eq 'main']/descendant::provenance[@type eq 'history']/node() return if ($history) then &lt;row type=&#34;metadata&#34;&gt;&lt;cell&gt;form.other-events&lt;/cell&gt;&lt;cell&gt;{$history}&lt;/cell&gt;&lt;/row&gt; else ()"/>
                                    <param name="inscriptionType" value="let $vocab := doc('/db/apps/edep-data/typeins.xml') let $uris := tokenize(descendant::msPart[@type eq 'main']/descendant::msItem/@class, '\s+') for $uri in $uris return $vocab//*[local-name() eq 'term'][@ref = $uri]"/>
                                    <param name="metre" value="descendant::msPart[@type eq 'main']/descendant::rs[@type eq 'metric']"/>
                                    <param name="language" value="let $element := descendant::msPart[@type eq 'main']/descendant::textLang return string-join(($element/@mainLang, tokenize($element/otherLangs, '\s+')), ', ')"/>
                                    <param name="date" value="let $element := descendant::origDate let $range := $element/@notBefore-custom || ' – ' || $element/@notAfter-custom let $exact := $element/@when-custom let $string := $element/string() return if ($exact) then $string || ' (' || $exact || ')' else if ($range) then $string || ' (' || $range || ')' else $string"/>
                                    <param name="religion" value="let $attVal := descendant::keywords[@scheme eq 'https://edh.ub.uni-heidelberg.de/edep/religion']/term/@ref return 'religion.' || substring($attVal, 2)"/>
                                    <param name="historicRelevance" value="let $terms := descendant::keywords[@scheme eq 'https://edh.ub.uni-heidelberg.de/edep/terms']/term/@ref return if ($terms) then  &lt;row type=&#34;metadata&#34;&gt;&lt;cell&gt;form.historic-relevance&lt;/cell&gt;&lt;cell&gt;{ for $term in $terms return &lt;seg n=&#34;form.{substring($term, 2)}&#34;/&gt; }&lt;/cell&gt;&lt;/row&gt; else ()"/>
                                    <param name="ligature" value="descendant::msPart[@type eq 'main']/descendant::handDesc/descendant::rs[@type eq 'ligature']"/>
                                    <param name="fieldDimensions" value="let $dimensionsEls := descendant::msPart[@type eq 'main']/descendant::layout/dimensions/* return if ($dimensionsEls) then string-join($dimensionsEls, ' × ') else ()"/>
                                    <param name="verification" value="let $subtype := descendant::msPart[@type eq 'main']/descendant::note[@type eq 'verification']/@subtype return if (matches($subtype, '\s+')) then 'verification.' || substring-before(@subtype, ' ') else  'verification.' || $subtype"/>
                                    <param name="verificationDate" value="descendant::msPart[@type eq 'main']/descendant::note[@type eq 'verification']/date/@when"/>
                                    <param name="findSpot" value="let $fileName := '/db/apps/edep-data/places/' || descendant::msPart[@type eq 'main']/descendant::origPlace/@corresp || '.xml' let $place := doc($fileName)//place return $place/placeName[@type eq 'findspot']/string()"/>
                                    <param name="modernPlace" value="let $fileName := '/db/apps/edep-data/places/' || descendant::msPart[@type eq 'main']/descendant::origPlace/@corresp || '.xml' let $place := doc($fileName)//place return $place/placeName[@type eq 'modern'] || ' (' || $place/region[@type eq 'modern'] || ', ' || upper-case($place/country) || ')'"/>
                                    <param name="ancientPlace" value="let $fileName := '/db/apps/edep-data/places/' || descendant::msPart[@type eq 'main']/descendant::origPlace/@corresp || '.xml' let $place := doc($fileName)//place return $place/placeName[@type eq 'ancient'] || ' (' || $place/region[@type eq 'province'] || ')'"/>
                                    <pb:template xmlns="" xml:space="preserve">        <div id="metadata">
            <section>
                <h2><pb-i18n key="form.object-description"/></h2>
                <table>
                    <tbody>
                      [[objectType]] 
                        <tr>
                            <th><pb-i18n key="form.material"/></th>
                            <td>[[material]]</td>
                        </tr>
                        [[description]] 
                        [[dimensions]] 
                        <tr>
                            <th><pb-i18n key="form.preservation"/></th>
                            <td><pb-i18n key="[[condition]]"/></td>
                        </tr>
                        <tr>
                            <th><pb-i18n key="form.decoration"/></th>
                            <td>[[decoration]]</td>
                        </tr>
                       <tr>
                            <th><pb-i18n key="form.findspot"/></th>
                             <td>[[findSpot]]</td>
                        </tr>                      
                        <tr>
                            <th>Modern place name and region</th>
                            <td>[[modernPlace]]</td>
                        </tr>
                     <tr>
                       <th>Ancient place name and province</th>
                            <td>[[ancientPlace]]</td>
                        </tr>
                      [[findContext]]
                        <tr>
                            <th><pb-i18n key="form.year-of-find"/></th>
                            <td>[[findDate]]</td>
                        </tr>
                        <tr>
                            <th><pb-i18n key="form.last-recorded-location"/></th>
                            <td>[[modernLocation]]</td>
                        </tr>
                        <tr>
                            <th>TM ID</th>
                            <td>[[tmID]]</td>
                        </tr>
                    </tbody>
                </table>                
            </section>
            <section>
                <h2><pb-i18n key="form.inscription-field"/></h2>
                <table>
                    <tbody>
                       <tr>
                            <th><pb-i18n key="metadata.dimensions"/></th>
                            <td>[[fieldDimensions]]</td>
                        </tr>
                         <tr>
                            <th><pb-i18n key="form.letter-size"/></th>
                            <td>[[letterSize]]</td>
                        </tr>
                        <tr>
                            <th><pb-i18n key="form.palaeography"/></th>
                            <td>[[palaeography]]</td>
                        </tr>                       
                        <tr>
                            <th><pb-i18n key="form.ligature"/></th>
                            <td>[[ligature]]</td>
                        </tr>                      
                        <tr>
                            <th><pb-i18n key="form.description"/></th>
                            <td>[[fieldDesc]]</td>
                        </tr>
                    </tbody>
                </table>                
            </section>         
            <section>
                <h2><pb-i18n key="form.text-description"/></h2>
                <table>
                    <tbody>                      
                        <tr>
                            <th><pb-i18n key="form.type-of-inscription"/></th>
                            <td>[[inscriptionType]]</td>
                        </tr>
                        <tr>
                            <th><pb-i18n key="form.metre"/></th>
                            <td>[[metre]]</td>
                        </tr>
                        <tr>
                            <th><pb-i18n key="form.language"/></th>
                            <td>[[language]]</td>
                        </tr>
                        <tr>
                            <th><pb-i18n key="form.dating"/></th>
                            <td>[[date]]</td>
                        </tr>
                        <tr>
                            <th><pb-i18n key="form.religion"/></th>
                            <td><pb-i18n key="[[religion]]"/></td>
                        </tr>                        
                           [[historicRelevance]]
                    </tbody>
                </table>               
            </section>
          <section>
            <h2><pb-i18n key="metadata.additional"/></h2>
            <table>              
              <tbody>
                <tr>
                            <th><pb-i18n key="form.basis-of-verification"/></th>
                            <td><pb-i18n key="[[verification]]"/></td>
                        </tr>
                        <tr>
                            <th><pb-i18n key="form.date-of-verification"/></th>
                            <td>[[verificationDate]]</td>
                        </tr>    
               [[provenanceHistory]] 
              </tbody>
                        
            </table>
          </section>
        </div></pb:template>
                                </model>
                                <model output="web" behaviour="metadata"/>
                            </elementSpec>
                
                <elementSpec ident="*" mode="add"/>
                <elementSpec ident="row" mode="change">
                    <model predicate="@type eq 'metadata'" behaviour="inline">
                        <desc>Within the metadata table, model for post-processing</desc>
                        <param name="th" value="cell[1]"/>
                        <param name="td" value="cell[2]/node()"/>
                        <pb:template xmlns="" xml:space="preserve"><tr>
  <th><pb-i18n key="[[th]]"/></th>
  <td>[[td]]</td>
</tr></pb:template>
                    </model>
                    <model predicate="@role='label'" behaviour="row">
                        <outputRendition xml:space="preserve">
            font-weight: bold;
            </outputRendition>
                    </model>
                    <model behaviour="row">
                        <desc>Insert table row. </desc>
                    </model>
                </elementSpec>
                <elementSpec ident="seg" mode="change">
                    <model predicate="ancestor::row[@type eq 'metadata']" behaviour="block">
                        <desc>Within the metadata table, model to create a pb-i18n element when the key is computed</desc>
                        <param name="key" value="@n"/>
                        <pb:template xmlns="" xml:space="preserve"><pb-i18n key="[[key]]"/></pb:template>
                    </model>
                    <model behaviour="inline" useSourceRendition="true"/>
                </elementSpec>                 
            </schemaSpec>
        </body>
    </text>
</TEI>